@use "../abstracts" as a;

.welcome {
  height: 100vh;
  background: a.$cl-primary-500;
  text-align: center;

  &__image {
    height: 40vh;
    width: 100%;
    background-color: a.$cl-primary-300;
    border-bottom-left-radius: 20%;
    border-bottom-right-radius: 20%;
    background-image: url("../../assets/banner.svg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }

  &__content {
    @include a.flex(column, center, center);

    h1 {
      margin: 5rem 0 3rem 0;
    }
  }
}

@include a.media-lg {
  .welcome {
    @include a.flex(column, center, center);

    &__image {
      background-color: a.$cl-primary-500;
    }
  }
}
