@use "../abstracts" as a;

.header {
  height: 22rem;
  background: a.$cl-primary-500;
  display: flex;
  flex-direction: column;
  justify-content: center;

  &__content {
    width: 85%;
    margin: 0 auto;
  }
}

@include a.media-lg {
  .header {
    display: none;
  }
}
