@use "../abstracts" as a;

.details-page {
  height: 100%;
  width: min(100%, 960px);
  margin: 0 auto;

  &__header {
    background: a.$cl-primary-500;
    @include a.flex(row, center, flex-start);
    height: 8rem;
    color: a.$cl-light;
    padding: 0 2rem;
    width: 100%;
  }

  &__main {
    width: 90%;
    margin: 2rem auto;

    &--top {
      box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
        rgba(0, 0, 0, 0.22) 0px 10px 10px;
      border-radius: 24px;
    }
  }
}

.detail {
  &__wrapper {
    @include a.flex(row, flex-start, space-between);
    padding: 2rem;

    .item:nth-child(1) {
      margin-bottom: 1rem;
    }

    .icons {
      @include a.flex(row, center, center);

      .id {
        margin-right: 1rem;
      }
    }
  }

  &__info {
    padding: 2rem;
    margin: 2rem 0;

    span {
      display: none;
      font-size: 2.4rem;
      color: #fff;
    }

    .item {
      @include a.flex(row, center, space-between);
      margin: 2rem 0;
    }
  }
}

@include a.media-lg {
  .details-page__header {
    display: none;
  }

  .details-page__main {
    margin: 2rem 0 2rem 20rem;
    &--top {
      position: relative;
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      border-radius: none;
      box-shadow: none;
      margin-top: 5rem;
    }
  }

  .detail {
    &__wrapper {
      width: 300px;
      padding: 0 1rem;
    }

    &__info {
      width: 300px;
      position: absolute;
      top: 150px;
      background: a.$cl-primary-500;
      color: a.$cl-light;
      border-radius: 30px;

      span {
        display: inline-block;
      }
    }
  }
}
