@use "../abstracts" as a;

.wrapper {
  display: none;
}

.sidebar {
  background: a.$cl-primary-500;
  position: fixed;
  top: 0;
  left: 0;
  width: 225px;
  height: 100%;
  padding: 20px 0;
  transition: all 0.5s ease;

  &__profile {
    margin-bottom: 30px;
    text-align: center;

    &--title {
      color: #ffffff;
      margin: 10px 0 5px;
    }
  }

  ul li {
    padding: 13px 30px;
    color: rgb(241, 237, 237);
    font-size: 16px;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }
}

.icon {
  color: #dde6f3;
  width: 30px;
  display: inline-block;
  margin-right: 1rem;
}

.profile-image {
  display: block;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 0 auto;
}

@include a.media-lg {
  .wrapper {
    display: flex;
  }
}
