.container {
  width: min(90%, 600px);
  margin: 5rem auto;
  position: relative;
}
.timeline {
  position: relative;
}
.timeline li {
  float: left;
  list-style: none;
  width: 25%;
  position: relative;
}

.timeline li:before {
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: block;
  text-align: center;
  line-height: 50px;
  background: #dddcdd;
  transition: all ease-in-out 0.3s;
  z-index: 10;
}

.timeline .active:before {
  position: relative;
  top: -5px;
  width: 20px;
  height: 20px;
}

.timeline li.del:before {
  background: #4caf50;
}

.timeline li.pickup:before {
  background: #d27c2c;
}

.timeline li.route:before {
  background: #177bf5;
}

.timeline li:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background: #dddcdd;
  top: 5px;
  left: -100%;
  z-index: 0;
  transition: all ease-in-out 0.3s;
}

.timeline li:first-child:after {
  content: none;
}

.timeline .pickup:after {
  background: #d27c2c;
  z-index: 999;
}
.timeline .del:after {
  background: #4caf50;
}
.timeline .route:after {
  background: #177bf5;
}
