@mixin flex($direction, $align, $justify) {
  display: flex;
  flex-direction: $direction;
  align-items: $align;
  justify-content: $justify;
}

@mixin textFont($weight, $color, $size, $line) {
  font-weight: $weight;
  color: $color;
  font-size: $size;
  line-height: $line;
}

@mixin media-lg {
  @media screen and (min-width: 960px) {
    @content;
  }
}
