// colors
$cl-primary-500: #0d6626;
$cl-primary-300: #58ac70;
$cl-dark: #27282e;
$cl-grey: #cfcfcf;
$cl-orange: #d27c2c;
$cl-blue: #177bf5;
$cl-light: #e6e6e6;
$cl-white: #fafdf6;
$cl-accent-green: #d2fcde;
$cl-accent-orange: #f6e0cc;
$cl-accent-blue: #c6dcf5;
